.image-list{
    display: grid;


    /* repeat will create a set number of columns,
    auto-fill with automatically decide how many columns to create,
    minmax is 250px wide and 1fr is maximum allocation of space, every column created is equally sized*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-gap: 0 10px;     /* 10px between each image within the grid */

    grid-auto-rows: 10px; /* auto rows will define how tall each row or cell will be rendered on the page */
}

.image-list img{
    grid-row-end: span ; /* each element will be allocated 3 cells worth of space */


    width: 250px;       /* setting each img width to 250px  */
}